
.event-col{
    position: relative;
    left: 25vh;
    right: 25vh;

    display: inline-block;
}
/* property for event card */
.event-card{
    height: 40vh;
    width: 30vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    box-shadow: 0px 10px 10px 0px black;
    text-align: center;

    position: relative;
    z-index: 0;

    transition: all 0.7s;

    display: inline-block;
    margin-right: 5vh;
    margin-top: 5vh;
}
.event-pic,.event-poster{
    height: 38vh;
    width: 28vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cadetblue;

    position: absolute;
    top: 1vh;
    left: 1vh;
    z-index: 1;

    transition: all 0.7s;
}
.event-poster{
    background-color: bisque;

    z-index: 0;
    visibility: hidden;
}
.event-desc{
    height: 38vh;
    width: 28vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: azure;

    position: absolute;
    top: 1vh;
    right: 1vh;
    z-index: 0;
    visibility: hidden;

    transition: all 0.7s;
}