.list-item{
    height: auto;
    width: 50vh;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    position: relative;
    display: flexbox;
}
.item-title{
    height: 5vh;
    width: 40vh;
    border: 1px solid black;
    border-radius: 15px;
    margin: 2vh 0vh 0vh 2vh;

    /* overflow: scroll; */
}
.item-button{
    height: 12vh;
    width: 5vh;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 2vh 2vh 0vh 0vh;
}
.item-done{
    height: 5vh;
    width: 5vh;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    top: 0px;
    background-color: grey;
}
.item-cancel{
    height: 5vh;
    width: 5vh;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    bottom: 0px;
    background-color: red;
}
.item-desc{
    height: 10vh;
    width: 40vh;
    margin: 2vh 0vh 2vh 2vh;
    border: 1px solid black;
    border-radius: 15px;

    /* overflow: scroll; */
}