.list-head{
    height: 5vh;
    width: 55vh;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}

.list-box{
    height: auto;
    width: 50vh;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2vh 2vh 2vh 2vh;
}